<h1>Add a new itesm</h1>

<form>
  <div>
    <label>Link URL</label>
  </div>
  <input type="text">
  
  <div>
    <label>Link Description</label>
  </div>
  <input type="text">

  <div>
    <label>Link Thumbnail URL</label>
  </div>
  <input type="text">    
</form>
