<h1>Add a new itesm</h1>

<form action="/make_a_new_item" method="post">
  <div>
    <label>Link URL</label>
  </div>
  <input type="text" name="link_url_param">
  
  <div>
    <label>Link Description</label>
  </div>
  <input type="text" name="link_desc_param">

  <div>
    <label>Link Thumbnail URL</label>
  </div>
  <input type="text" name="thumbnail_url_param">

  <button>Create item</button>
</form>
