<h1>Add a new itesm</h1>

<form action="/make_a_new_item" method="post">
  <div>
    <label for="ape">Link URL</label>
    <input id ="ape" type="text" name="link_url_param">
  </div>

  <div>
    <label for="banana">Link Description</label>
   <input id="banana" type="text" name="link_desc_param">
  </div>

  <div>
    <label for="cat">Link Thumbnail URL</label>
    <input id="cat" type="text" name="thumbnail_url_param">
  </div>

  <div>
  <button>Create item</button>
  </div>
</form>
